.popup__text{
  display: flex;
  width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  justify-content: center;
    margin: 16px auto 0 auto;
  }