.popup__button {
  width: 100%;
  height: 50px;

  margin-top: 48px;
  background-color: black;
  color: white;
  font-size: 36px;
}
.popup__button_type_login {
  font-size: 18px;
}

.popup__button_state_disable{
  background-color: white;
  color: rgba(0, 0, 0, .2);
  border: 1px solid rgba(0, 0, 0, .2);
}

