.cards__bookmark_icon_delete{
  background: url(../../../../images/trash-grey.svg) center no-repeat;
}

.cards__bookmark_icon_delete:hover{
  background: url(../../../../images/trash-black.svg) center no-repeat;
cursor: pointer;
}

@media screen and (min-width: 1024px) {
.cards__bookmark_icon_delete:hover::after
{
  position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 40px;
      width: 160px;
          padding: 0 10px;
          border-radius: 8px;
          background-color: white;
          font-family: Roboto, Times, serif;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
              z-index: 5;

              top: 0px;
              right: 49px;
              content: 'Убрать из сохранённых';

}
}