.button_type_login:hover  {
  cursor: pointer;
  color: #2F71E5;
}

.button_type_signup:hover{
  cursor: pointer;
}

.button_type_menu:hover{
  cursor: pointer;
}

.button_type_exit:hover{
    cursor: pointer;
    box-shadow: 0 0 2px #2F71E5;
    border:  #2F71E5 1px solid;
  }
