.author__photo{
    display: flex;
    position: relative;
   }

@media screen and (max-width: 767px){
.author__photo{
width: calc(100% - 48px);
max-width: 272px;
align-self: center;
}
}

@media screen and (min-width: 768px){
.author__photo{
max-width: 232px;
}
}

@media screen and (min-width: 1440px){
.author__photo{
max-width: 464px;
}
}