.cards__item-date{
    margin: 0 0 12px 0;
    color: #B6BCBF;
    font-size: 18px;
    line-height: 24px;
      font-family: 'Source Sans Pro', Arial, sans-serif;
      text-transform: lowercase;
    }