.footer__copyright{
  display: flex;
position: relative;
font-size: 16px;
line-height: 22px;
    color: #b6bcbf;
    text-decoration: none;
    font-family: Roboto, Arial, sans-serif;

  }

@media screen and (max-width: 767px){
.footer__copyright{
order: 9;
}
}