.cards__item{
position: relative;
display: flex;
flex-shrink: 0;

flex-direction: column;
     border-radius: 16px;
     box-shadow: 0 17px 58px -16px rgba(8, 29, 45, 0.1);
     background-color: white;
     }

@media screen and (max-width: 767px){
.cards__item{
  width: auto;
  max-width: 224px;
  height: auto;
}
}

@media screen and (min-width: 768px){
.cards__item{
width: auto;
max-width: 400px;
height: auto;
}
}

@media screen and (min-width: 1440px){
.cards__item{
height: 576px;
padding-bottom: 0;
width: auto;
}
}

