@import url(./_type/header__link_type_selected.css);

.header__link{
    position: relative;
    display: flex;
      align-items: center;
        color: inherit;
        text-decoration: none;

    }

.header__link:last-child{
  margin: 0;
}

@media screen and (max-width: 767px){
.header__link{
display: none;
  }
}

@media screen and (min-width: 768px){
.header__link{
min-height: 80px;
margin: 0 16px 0 0;
}
}

@media screen and (min-width: 1440px){
.header__link{
min-height: 80px;
margin: 0 32px 0 0;
  }
}