@import url(./_type/header__link_type_selected.css);

.header__link{
    position: relative;
    display: flex;
      min-height: 80px;
      align-items: center;
      margin: 0 44px 0 0;
        font-size: 18px;
        line-height: 24px;
        font-weight: normal;
        font-family: Roboto, Arial;
        color: white;
        text-decoration: none;
    }

.header__link:last-child{
  margin: 0;
}
  