.search__button{
    flex-grow: 0;
      color: white;
      background-color: #2F71E5;
      border: none;
      outline: none;
        font-size: 18px;
        line-height: 24px;
        font-family: Roboto, Arial, sans-serif;
        transition: 0.5s;
  }
.search__button:hover{
  cursor: pointer;
  color:  #2F71E5;
  border:  #2F71E5 1px solid;
  background-color: white;
}

@media screen and (max-width: 1439px){
.search__button{
  min-width: 160px;
  height: 56px;
  border-radius: 28px;
  max-width: 406px;
  }
  }

@media screen and (min-width: 1440px){
.search__button{
  min-width: 168px;
  height: 64px;
  border-radius: 32px;
}
}


