.search__button{
    flex-grow: 0;
      color: white;
      background-color: #2F71E5;
      border: none;
        font-size: 18px;
        line-height: 24px;
        font-family: Roboto, Arial, sans-serif;
  }

@media screen and (max-width: 767px){
.search__button{
  margin: 0;
  min-height: 56px;
  border-radius: 28px;
}
}

@media screen and (min-width: 768px){
.search__button{
  min-width: 160px;
  min-height: 56px;
  border-radius: 28px;
  }
  }

@media screen and (min-width: 1440px){
.search__button{
  min-width: 168px;
  min-height: 64px;
  border-radius: 32px;
}
}
