.footer__link{
    display: flex;
    position: relative;
    margin-right: 40px;
      font-size: 18px;
      line-height: 24px;
      text-decoration: none;
      font-family: Roboto, Arial;
      color: black;

  }