.cards__text{
  position: relative;
  display: flex;
  flex-direction: column;
      width: 100%;
      height: 100%;
       box-sizing: border-box;
       border-radius: 0 0 16px 16px;
       background-color: white;
  }

  @media screen and (max-width: 1439px){
  .cards__text{
    padding: 16px;
    height: 270px;
  }
  }

  @media screen and (min-width: 1440px){
  .cards__text{
    padding: 20px 24px;
    height: 307px;
  }
  }
