@import url(./__button/cards__button.css);
@import url(./__grid/cards__grid.css);
@import url(./__image-container/cards__image-container.css);
@import url(./__item-article/cards__item-article.css);
@import url(./__item-date/cards__item-date.css);
@import url(./__item-title/cards__item-title.css);
@import url(./__item/cards__item.css);
@import url(./__photo/cards__photo.css);
@import url(./__sign/cards__sign.css);
@import url(./__text/cards__text.css);
@import url(./__title/cards__title.css);
@import url(./__bookmark/cards__bookmark.css);
@import url(./__label/cards__label.css);
@import url(./__comment/cards__comment.css);
@import url(./__message/cards__message.css);
@import url(./__id/cards__id.css);


.cards{
    display: flex;
    flex-direction: column;
    display: relative;
    align-items: center;

    box-sizing: border-box;
    width: 100%;
      background-color: #F5F6F7;
  }

@media screen and (max-width: 767px){
.cards{
  padding: 32px 16px 32px 16px;
}
}

@media screen and (min-width: 768px){
.cards{
  padding: 40px 40px 40px 40px;
}
}

@media screen and (min-width: 1440px){
.cards{
padding: 80px 104px 80px 104px;
}
}
