.title-section{
  font-family: 'Roboto Slab', Times, serif;
  font-style: normal;
  font-weight: normal;
}

@media screen and (max-width: 767px){
.title-section{
  font-size: 30px;
  line-height: 34px;
}
}

@media screen and (min-width: 768px){
.title-section{
  font-size: 30px;
  line-height: 34px;
}
}

@media screen and (min-width: 1440px){
.title-section{
  font-size: 40px;
  line-height: 46px;
}
}
