@import url(./__button/search__button.css);
@import url(./__form/search__form.css);
@import url(./__input/search__input.css);
@import url(./__subtitle/search__subtitle.css);
@import url(./__title/search__title.css);

.search{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: start;
     height: min-content;
     
        box-sizing: border-box;
        border: 1px solid red;


  }

@media screen and (max-width: 767px){
.search{
margin: 30px 16px 32px 16px;
}
}


@media screen and (min-width: 768px){
.search{
margin: 38px 160px 48px 160px;
}
}

@media screen and (min-width: 1440px){
.search{
margin: 80px 0 80px 0;
}
}