.popup__content {
  background-color: #fff;
  position: relative;
  box-sizing: border-box;
    width: 430px;
    max-height: 383px;
    border-radius: 16px;
    padding: 34px 36px 28px 36px;

}

@media screen and (max-width: 540px) {
.popup__content {
    width: calc(100% - 60px);
  }
}
