.popup__content {
  background-color: #fff;
  position: relative;
  box-sizing: border-box;
    width: 430px;
    height: min-content;
    border-radius: 16px;
    padding: 34px 36px 28px 36px;

}

@media screen and (max-width: 540px) {
.popup__content {
    width: calc(100% - 60px);
  }
}

.popup__container_type_menu{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: min-content;
  background-color: #1A1B22;
}