.cards__sign{
  position: absolute;
  bottom: 0;


        font-size: 16px;
        line-height: 20px;
        color: #B6BCBF;
        font-family: 'Roboto Slab', Times, serif;
        text-transform: uppercase;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
      }

