.cards__bookmark{  
    position: absolute;
        top: 24px;
        right: 24px;
        box-sizing: content-box;
        padding: 11px;
        width: 19px;
            border-radius: 8px;
            background-color: white;
                z-index: 5;
     }