.cards__mark{
    position: absolute;
        top: 24px;
        right: 24px;
        box-sizing: content-box;
        padding: 9px;
        min-height: 19px;
        max-height: 40px;
            border-radius: 8px;
            background-color: white;
                z-index: 5;
     }

