@import url(../vendor/normalize.css);
@import url(../blocks/intro-container/intro-container.css);
@import url(../blocks/header/header.css);
@import url(../blocks/search/search.css);
@import url(../blocks/author/author.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/icons/icons.css);
@import url(../blocks/title-section/title-section.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/error-message/error-message.css);
@import url(../blocks/button/button.css);
@import url(../blocks/circle-preloader/circle-preloader.css);
@import url(../blocks/links/links.css);
@import url(../blocks/sad-smile/sad-smile.css);

@font-face {
    font-family: 'Roboto';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;

    src: url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
         url("../fonts/Roboto/Roboto-Regular.woff") format("woff");
  }

@font-face {
    font-family: 'Roboto';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;

    src: url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2"),
         url("../fonts/Roboto/Roboto-Bold.woff") format("woff");
  }

@font-face {
    font-family: 'Roboto';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;

    src: url("../fonts/Roboto/Roboto-Black.woff2") format("woff2"),
         url("../fonts/Roboto/Roboto-Black.woff") format("woff");
  }

@font-face {
    font-family: 'Roboto Slab';
    font-style:  normal;
    font-weight: normal;
    font-display: swap;

    src: url("../fonts/Roboto-Slab/Robotoslabregular.woff2") format("woff2"),
         url("../fonts/Roboto-Slab/Robotoslabregular.woff") format("woff");
  }

@font-face {
    font-family: 'Roboto Slab';
    font-style:  normal;
    font-weight: bold;
    font-display: swap;

    src: url("../fonts/Roboto-Slab/Robotoslabbold.woff2") format("woff2"),
         url("../fonts/Roboto-Slab/Robotoslabbold.woff") format("woff");

  }

@font-face {
    font-family: 'Source Sans Pro';
    font-style:  normal;
    font-weight: normal;
    font-display: swap;

    src: url("../fonts/Source-Sans-Pro/SourceSansPro-Regular.woff2") format("woff2"),
         url("../fonts/Source-Sans-Pro/SourceSansPro-Regular.woff") format("woff");
  }

.page {
position: relative;
flex-flow: column;
    margin: auto;
     align-items: center;
     max-width: 1440px;
     font-family: Roboto, Arial;
     background-color: black;


     -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
       -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
       -moz-text-size-adjust: 100%;
       text-rendering: optimizeLegibility;

   }



