.popup__input {
  width: 100%;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  padding: 9px 0px 10px 0;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px; 
    color: black;
    border-bottom: 1px solid #cccccc;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}

.popup__input_type_email{

}

.popup__input_type_password{

}


