.cards__title{
    color: black;
    margin: 0 0 64px 0;
    width: 100%;

  }

  @media screen and (max-width: 767px){
  .cards-title{
    margin: 0 0 24px 0;
  }
  }

  @media screen and (min-width: 768px){
  .cards-title{
    margin: 0 0 32px 0;
  }
  }

  @media screen and (min-width: 768px){
  .cards-title{
    margin: 0 0 64px 0;
  }
  }