/* .cards__image-container{
    position: relative;
    display: flex;
    width: 100%;
    margin: 0;
      border-radius: 15px 15px 0 0;

  } */

.cards__image-container{
    position: relative;
    display: flex;
    width: 100%;
    margin: 0;
      border-radius: 15px 15px 0 0;
      padding-bottom: 67%;
  }
/*

@media screen and (max-width: 1439px){
.cards__image-container{
padding-bottom: 67%;

}
}

@media screen and (min-width: 1440px){
.cards__image-container{

}
} */

