@import url(./__logo/header__logo.css);
@import url(./__menu/header__menu.css);
@import url(./__link/header__link.css);
@import url(./__sandwich/header__sandwich.css);
@import url(./_type/header_type_light.css);
@import url(./_type/header_type_dark.css);
@import url(./__exit/header__exit.css);


.header{
    position: relative;
    display: flex;
    width: 100%;
      justify-content: space-between;
      align-items: center;
  }

@media screen and (max-width: 767px){
.header{
  min-height: 56px;
  }
}

@media screen and (min-width: 768px){
.header{
  min-height: 66px;
  }
}

@media screen and (min-width: 1440px){
.header{
  min-height: 80px;
  }
}