@import url(./__logo/header__logo.css);
@import url(./__menu/header__menu.css);
@import url(./__link/header__link.css);


.header{
    position: relative;
    display: flex;
    min-height: 80px;
    width: 100%;
      justify-content: space-between;
      align-items: center;
    background: rgba(196, 196, 196, 0.01);
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  }





