
@media screen and (max-width: 767px){
.author__title{
  margin: 0 0 24px 0;
}
}

@media screen and (min-width: 768px){
.author__title{
  margin: 0 0 16px 0;
}
}

@media screen and (min-width: 1440px){
.author__title{
margin: 0 0 24px 0;
}
}