.cards__photo {
  position: absolute;
  display: flex;
  min-width: 100%;
  min-height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}